/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Cabin);

/*
*
* Basic Styles
*
*/
body {
    font-family: 'Cabin', sans-serif;
    background: #eee;
}

textarea { resize:vertical ; }

/*
*
*Class selectors
*
*/
.bg-white {
    background: white;
}

.container {
    border-top: 2px solid dodgerblue;
    background: white;
    padding-bottom: 25px;
}



/*
*Header Section
*/
.main-header {
    padding: 15px;
    position: relative;
    height: 100px;
}

.logo-text {
    font-size: 44px;
    position: absolute;
    left: 0;
    top: 25px;
    margin-top: 0;
}
/*
*Footer Section
*/
.main-footer {
    margin-top: 10px;
}

/*
*User Accounts Section
*/
.user-account-section {
    position: absolute;
    right: 0;
    top: 25px;

}

.login-link-text {
    font-size: 32px;

}

#login-dropdown-list {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.accounts-dialog {
    width: 300px;
}

.stats {
    padding: 10px;
    margin-top: 25px;
}
/*
*New Blog Post Section
*/

.outer-new-post {
    position: relative;
}

.getall {
    display: block;
    margin: 0 auto 25px auto;
}

.new-blog-post {
    background: #eee;
    padding: 10px;
    margin-bottom: 25px;
}

.new-blog-post input[type="text"] {
    margin: 5px 0;
}

.new-blog-post-submit {
    margin-top: 25px;
}

.toggle-new-post {
    position: absolute;
    top: 0;
    right: 0;
}

/*
*All Posts section
*/

.search-posts input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid dodgerblue;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-posts input::-webkit-input-placeholder::before {
    color: black;
    content: "Search any Key Terms";
}

.blog-content {
    margin-bottom: 20px;
}

.each-post {
    padding: 5px;
    min-height: 100px;
    text-align: center;
    word-wrap: break-word;
    background: #eee;
}

.single-post-time {
    font-size: 12px;
}

.user-options {
    text-align: center;
    font-size: 16px;
    background: #eee;
    margin-bottom: 10px;
}

.user-options span {
    padding: 5px 15px 15px 0;
}

.delete, .toggle-edit, .toggle-private {
    margin: 0 15px 0 15px;
}

.delete:hover, .toggle-edit:hover, .toggle-private:hover {
    cursor: pointer;
}

/*
*Single Post Page
*/

.each-comment {
    position: relative;
    padding: 5px;
    min-height: 50px;
    text-align: center;
    word-wrap: break-word;
    background: #eee;
}

.single-comment-text {
    margin-top: 10px;
    font-size: 16px;
}

.single-comment-time {
    position: absolute;
    font-size: 10px;
    top: 5px;
    left: 5px;
}

.single-comment-author {

}
.private {
    visibility: hidden;
    display: none;
    padding: 0!important;
    margin: 0!important;
    clear: both;
}
