/* CSS declarations go here */
@import url(https://fonts.googleapis.com/css?family=Cabin);

/*
*
* Basic Styles
*
*/
body {
    font-family: 'Cabin', sans-serif;
    background: #eee;
}

textarea { resize:vertical ; }

/*
*
*Class selectors
*
*/
.bg-white {
    background: white;
}

.container {
    border-top: 2px solid dodgerblue;
    background: white;
    padding-bottom: 25px;
}

.private {
    display: none;
}

/*
*Header Section
*/
.main-header {
    padding: 15px;
}

.logo-text {
    font-size: 44px;
    text-align: center;
}
/*
*Footer Section
*/
.main-footer {
    margin-top: 10px;
}

/*
*User Accounts Section
*/
.user-account-section {
    text-align: center;
    margin-bottom: 25px;
}

.login-link-text {
    font-size: 32px;

}

#login-dropdown-list {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.accounts-dialog {
    width: 300px;
}

.stats {
    padding: 10px;
    margin-top: 25px;
}
/*
*New Blog Post Section
*/

.getall {
    display: block;
    margin: 0 auto 25px auto;
}

.new-blog-post {
    background: #eee;
    padding: 10px;
    margin-bottom: 25px;
}

.new-blog-post input[type="text"] {
    margin: 5px 0;
}

.new-blog-post-submit {
    margin-top: 25px;
}

/*
*All Posts section
*/
.all-posts-section {
   background: #eee;
    border-top: 1px solid dodgerblue;
}

.each-post {
    padding: 5px;
    min-height: 100px;
    text-align: center;
    word-wrap: break-word;
}

.single-post-time {
    font-size: 12px;
}

.user-options {
    text-align: center;
    padding: 5px 5px 20px 5px;
    font-size: 16px;
    border-bottom: 1px solid dodgerblue;
}

.delete, .toggle-edit, .toggle-private {
    margin: 0 15px 0 15px;
}

.delete:hover, .toggle-edit:hover, .toggle-private:hover {
    cursor: pointer;
}
